<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
	<appSettings>
		<add key="RedisPath" value="172.16.2.30:6379" />
		<add key="RFIDReader_port" value="31000" />
	</appSettings>
	<connectionStrings>
		<add name="mysql" connectionString="Server=172.16.3.60;Database=test;Uid=root;Pwd='bxn500';SslMode=None;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
			<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-8.0.12.0" newVersion="8.0.12.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
